.titulo {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #555;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.ajusteTexto {
  text-align: justify;
  width: 580px;
}

.letraElegante {
  font-weight: bold;
  font-family: sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.formulario-container {
  width: 650px;
  margin: 20px;
  padding: 20px;
  background-color: #E4F2E4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Estilos para botones */
.btn-primary {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}