
  <!-- Hero -->
  <section class="et-hero-tabs">
    
    <h1>Solicitudes Fresmar</h1>
    <h3>Aqui podras realizar solicitudes.</h3>

    <div class="et-hero-tabs-container">

      <!-- <a class="et-hero-tab" href="#tab-es6"> Vacaciones </a>
      <a class="et-hero-tab" href="#tab-flexbox"> Cesantias </a>
      <a class="et-hero-tab" href="#tab-react"> Auxilios </a>
      <a class="et-hero-tab" href="#tab-angular"> Permisos </a>
      <a class="et-hero-tab" href="#tab-other"> Prestamo </a>
      <span class="et-hero-tab-slider"></span> -->
      <a class="et-hero-tab" href="#general"> General </a>
      <a class="et-hero-tab" href="#auxilios"> Auxilios </a>
      <a class="et-hero-tab" href="#cesantias"> Cesantias </a>
      <a class="et-hero-tab" href="#licencias"> Licencias </a>
      <a class="et-hero-tab" href="#permisos"> Permisos </a>
      <a class="et-hero-tab" href="#prestamos"> Prestamos </a>
      <a class="et-hero-tab" href="#vacaciones"> Vacaciones </a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>
  <br>
  <!-- Main -->

  <section class="et-slide" id="general" style="margin-top: 30px;">
    <h1 style="margin-top: 55px; font-size: 25px; text-align: start;font-weight: bold;"> Ingresa a nuestro link de formulario de Google para diligenciar tu solicitud.</h1>
    <br><br>
    <p style="font-weight: bold;"> Hacer click aqui :
      <a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLSeselFsA883-UgHrVpNxAS75oeTDEBQaD-mPZROsvRpBG-yJw/viewform" target="_blank">Formulario de Solicitudes</a> 
    </p>
  </section>
<!--   <section class="et-slide" id="auxilios">
    <h1> Auxilios </h1>
    <h3> Proximamente disponible ...</h3>
  </section>
  <br>
  <section class="et-slide" id="cesantias">
    <h1> Cesantias </h1>
    <h3> Proximamente disponible ...</h3>
  </section>
  <br>
  <main class="et-main" >
    <section class="et-slide" id="licencias" >
      <h1> Licencias </h1>
      <h3> Proximamente disponible ...</h3>
    </section>
    <br>
    <section class="et-slide" id="permisos">
      <h1> Permisos </h1>
      <h3> Proximamente disponible ...</h3>
    </section>
    <br>
    <section class="et-slide" id="prestamos">
      <h1> Prestamos </h1>
      <h3> Proximamente disponible ...</h3>
    </section>
    <br>
    <section class="et-slide" id="vacaciones">
      <h1> Vacaciones </h1>
      <h3> Proximamente disponible ...</h3>
    </section>
  </main> -->